<app-header-admin />
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Vista General de Usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Informacion General del Usuario
        </label>
      </div>
    </div>
    <hr />
    <div class="row">
      <!--tabla con la informacion general-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ nombreUsuario }}</td>
            <td>{{ areaUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
  </mat-card-content>
</mat-card>
<br />
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Categorias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Ingreso de nuevas categorias
        </label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Nombre de categoria"
          name="cateogria"
          [(ngModel)]="categoria"
        />
      </div>
      <div class="col-md-4">
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="ingresodecategoria()">
            Crear
          </button>
        </div>
      </div>
    </div>
    <hr />
    @if (this.infoIngresado) {
    <div class="container">
      <ngb-alert type="success" [dismissible]="true">
        <strong>Exito</strong> Se genero la nueva categoria.
      </ngb-alert>
    </div>
    }
  </mat-card-content>
</mat-card>
