<h1 class="justify-content-center">Creacion del Archivo</h1>

<form class="form-container" #f="ngForm">
  <div #ingresoCliente>
    <div class="row">
      <div class="col-md-4">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Nombre del Producto
        </label>
        <input
          type="text"
          class="form-control mt-2"
          placeholder="Nombre de Producto"
          name="ProductoBodega"
          [value]="this.data.datos.nombre"
          readonly
        />
      </div>
      <div class="col-md-4">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Precio del producto
        </label>
        <input
          type="number"
          class="form-control mt-2"
          placeholder="Precio del Producto"
          name="precioProducto"
          [value]="this.data.datos.precio"
          readonly
        />
      </div>
    </div>
    @if (imagenUrl) {
      <div class="col-md-8">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Imagen Asociada
        </label>
          <img [src]="imagenUrl" alt="Sin imagen">
      </div>
    }


    <div class="row">
      <div class="col-md-8">
        <label for="nombre" class="mt-5 d-flex justify-content-center">
          Descripcion Asociada
        </label>
        <div class="md-form">
          <textarea
            type="text"
            id="form7"
            class="md-textarea md-textarea-auto form-control"
            mdbInput
            [value]="this.data.datos.descripcion"
            name="descripcion"
            readonly
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <hr />
</form>

<!--Para botonoes-->

<div class="row">
  <div class="col-md-6">
    <button class="btn btn-warning" (click)="cerrar()">Cerrar</button>
  </div>
</div>
