
<h1 class="justify-content-center">Vista Especifica de Venta</h1>

<div #ingresoCliente>
  <div class="row">
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Titulo de Publicacion
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="nombre archivo"
        name="ProductoBodega"
        [value]="this.data.datos.titulo"
        readonly
      />
    </div>
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Estado de publicacion
      </label>
      <input
      type="text"
      class="form-control mt-2"
      placeholder="Extension Elemento"
      name="extension"
      [value]="this.data.datos.tipo_estado"
      readonly
    />
    </div>
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Fecha de publicacion
      </label>
      <input
      type="text"
      class="form-control mt-2"
      placeholder="Extension Elemento"
      name="extension"
      [value]="this.data.datos.fecha"
      readonly
    />
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <h1>Tabla de Productos a vender</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Producto</th>
          <th scope="col">Cantidad de Productos</th>
          <th scope="col">Precio general</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (item of datosProductosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.precioProducto }}</td>
          <td>{{ item.cantidadProducto }}</td>
          <td>{{ item.precio }}</td>
          <td>{{ item.descripcion }}</td>
          <td>
            <img style="height: 100px; width: 100%;" [src]="item.imagen" alt="Sin Imagen">

          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
<!--Para la comunicacion-->
<hr>
<div class="container">
  <h1>Comunicacion</h1>

  <div class="row">
    <h1>Usuarios con Mensajes</h1>
    <!--vista de personas con mensajes-->
    <div class="container">
      @for (item of personasqueComentaron; track $index) {
                  <!--generacion de cards-->
                  <div class="col-md-3 mb-4">
                    <mat-card [style.height.%]="100" class="mat-elevation-z4 text-center">
                      <mat-card-header>
                        <mat-card-title>{{ item.nombreUsuario }}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="row">
                          <div
                            class="col-md-10 d-flex justify-content-center text-center"
                            style="margin-bottom: 10px; margin-left: 7%"
                          >
                            <button
                              mat-raised-button
                              color="primary"
                              style="width: 60%; margin-right: 5px; height: 95%"
                              (click)="modalParaVistaEspecificaComentario(item)"
                              >
                              Ver Conversacion
                            </button>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
      }
    </div>
  </div>
</div>
<!--Para botonoes-->

<hr/>
<div class="row">
  <div class="col-md-6">
    <button  class="btn btn-secondary" >Editar</button>
  </div>
  <div class="col-md-6">
    <button  class="btn btn-warning" (click)="cerrar()">Cerrar</button>
  </div>
</div>

