<div #ingresoCliente>
  <div class="row">
    <div class="col-md-4">
      <label for="nombre" class="mt-5 d-flex justify-content-center">
        Titulo de voluntariado
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="nombre archivo"
        name="ProductoBodega"
        readonly
        [value]="this.data.datos[0].titulo"
      />
    </div>
    <div class="col-md-4">
      <label for="nombre" class="mt-5 d-flex justify-content-center">
        Estado de publicacion
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Extension Elemento"
        name="extension"
        [value]="this.data.datos[0].tipo_estado"
        readonly
      />
    </div>
    <div class="col-md-4">
      <label for="nombre" class="mt-5 d-flex justify-content-center">
        Fecha de publicacion
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Extension Elemento"
        name="extension"
        [value]="this.data.datos[0].fecha"
        readonly
      />
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <h1>Tabla de Productos a vender</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Producto</th>
          @if(this.data.datos[0].tipo == 1){
          <th scope="col">Precio Parcial</th>
          }
          <th scope="col">Cantidad de Productos</th>
          @if(this.data.datos[0].tipo == 1){
          <th scope="col">Precio de Productos Unitarios</th>
          }
          <th scope="col">Cambio</th>
          <th scope="col">Imagen</th>
          @if (this.idUsuario && this.idRolUsuario==2) {
          <th scope="col">Agregar</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of datosProductosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          @if(this.data.datos[0].tipo == 1){

          <td>{{ item.precioProducto }}</td>
          } @if (this.idUsuario) { @if (item.cantidadProducto==0) {
          <td>vendido</td>
          }@else {
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Cantidad de Producto a Vender"
            name="cantidadProductoVenta"
            [value]="item.cantidadProducto"
            [min]="1"
            [max]="item.cantidadProducto"
            [(ngModel)]="item.cantidadProducto"
            [readonly]="this.data.datos[0].tipo == 1 ? false : true"
          />
          } } @else {
          <td>{{ item.cantidadProducto }}</td>

          } @if(this.data.datos[0].tipo == 1){
          <td>{{ item.precio }}</td>
          }
          <td>{{ item.cambio }}</td>
          <td>
            <img
              style="height: 100px; width: 100%"
              [src]="item.imagen"
              alt="Sin Imagen"
            />
          </td>
          @if (this.idUsuario && item.cantidadProducto!=0 &&
          this.idRolUsuario==1) {

          <td>
            <button
              class="btn btn-primary"
              (click)="eliminar(item, item.id, item.precio)"
            >
              Agregar
            </button>
          </td>
          }
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
@if (this.idUsuario && this.idRolUsuario==1) { @if(this.data.datos[0].tipo ==1){
<!--PARA VER SI ESTA INGRESADO-->
<!--Para el resumen de valores-->
<div class="container">
  <div class="row">
    <h1>Tabla de Resumen de Voluntariado</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Articulo</th>
          <th scope="col">Cantidad a Comprar</th>
          <th scope="col">Precio</th>
          <th scope="col">Eliminar Seleccion</th>
        </tr>
      </thead>
      <tbody>
        @for (item of datosParaComprar; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidadProducto }}</td>
          <td>{{ item.precio * item.cantidadProducto }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="agregar(item.id, item, item.precio)"
            >
              Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

} @else{
<!--Para el resumen de valores-->
<div class="container">
  <div class="row">
    <h1>Tabla de Resumen de Trueques</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Articulo</th>
          <th scope="col">Cantidad a Comprar</th>
          <th scope="col">Eliminar Seleccion</th>
        </tr>
      </thead>
      <tbody>
        @for (item of datosParaComprar; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.cantidadProducto }}</td>
          <td>
            <button
              class="btn btn-danger"
              (click)="agregar(item.id, item, item.precio)"
            >
              Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

} } @else{
<div class="container">
  <ngb-alert [dismissible]="false">
    <strong>Informacion</strong>
    Para poder interactuar y comprar productos debe ingresar al sistema, sino
    comuniquese al contacto:
    {{ infoUsuario ? infoUsuario.contacto : "sin contacto" }}
  </ngb-alert>
</div>
}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-primary" (click)="generarVoluntariado()">
        Aceptar Venta
      </button>
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-danger"
        (click)="reporteVoluntariado(this.data.datos[0].id)"
      >
        Reportar Venta
      </button>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <h1>Comunicacion</h1>

  <div class="row">
    <h1>Tabla de Mensajes</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Usuario</th>
          <th scope="col">mensaje</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @for (item of comentariosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombreUsuarioRespuesta }}</td>
          <td>{{ item.mensaje }}</td>
          <td>{{ item.fecha }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="nombre" class="mt-5 d-flex justify-content-center">
        Ingreso de mensaje
      </label>
      <div class="md-form">
        <textarea
          type="text"
          id="form7"
          class="md-textarea md-textarea-auto form-control"
          mdbInput
          [value]="textoComentario"
          name="textoComentario"
          [(ngModel)]="textoComentario"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success" (click)="registroComentario()">
          Enviar Comentario
        </button>
      </div>
    </div>
  </div>
</div>
<!--Para botonoes-->

<hr />
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-warning" (click)="cerrar()">Cerrar</button>
  </div>
</div>
