
<h1 class="justify-content-center">Seccion de Comentario con:</h1>

<div #ingresoCliente>
  <div class="row">
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Usario con quien conversa
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="Nombre Usuario"
        name="ProductoBodega"
        readonly
      />
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <h1>Tabla de Mensajes</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Producto</th>
          <th scope="col">Cantidad de Productos</th>
          <th scope="col">Precio general</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (item of mensajes; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.precioProducto }}</td>
          <td>{{ item.cantidadProducto }}</td>
          <td>{{ item.precio }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.imagen }}</td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>

<!--Para botonoes-->
<hr/>
<div class="row">
  <div class="col-md-6">
    <button  class="btn btn-secondary" >Editar</button>
  </div>
  <div class="col-md-6">
    <button  class="btn btn-warning" (click)="cerrar()">Cerrar</button>
  </div>
</div>

