<app-header-admin />

<div class="container">
  <div class="row">
    <h1>Tabla de Elementos dado de baja</h1>
    <h2>Ventas</h2>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Titulo de publicacion</th>
          <th scope="col">Usuario de la publicacion</th>
          <th scope="col">fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Vista Publicacion</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listaPublicaciones; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.titulo }}</td>
          <td>{{ item.nombre_usuario }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.tipo_estado }}</td>
          <td>
            <button
              class="btn btn-info"
              (click)="modalParaVistaEspecifica(item.id)"
            >
              Ver publicacion
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Voluntariados</h2>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Titulo de Voluntariado</th>
          <th scope="col">Usuario de la Voluntariado</th>
          <th scope="col">fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Vista Publicacion</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listaVoluntariados; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.titulo }}</td>
          <td>{{ item.nombre_usuario }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.tipo_estado }}</td>
          <td>
            <button
              class="btn btn-info"
              (click)="modalParaVistaEspecificaVoluntariado(item.id)"
            >
              Ver voluntariado
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
