
<h1 class="justify-content-center">Vista Especifica de Venta</h1>

<div #ingresoCliente>
  <div class="row">
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Titulo de Publicacion
      </label>
      <input
        type="text"
        class="form-control mt-2"
        placeholder="nombre archivo"
        name="ProductoBodega"
        [value]="this.data.datos[0].titulo"
        readonly
      />
    </div>
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Estado de publicacion
      </label>
      <input
      type="text"
      class="form-control mt-2"
      placeholder="Extension Elemento"
      name="extension"
      [value]="this.data.datos[0].tipo_estado"
      readonly
    />
    </div>
    <div class="col-md-4">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Fecha de publicacion
      </label>
      <input
      type="text"
      class="form-control mt-2"
      placeholder="Extension Elemento"
      name="extension"
      [value]="this.data.datos[0].fecha"
      readonly
    />
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <h1>Tabla de Productos a vender</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Producto</th>
          <th scope="col">Cantidad de Productos</th>
          <th scope="col">Precio general</th>
          <th scope="col">Agregar</th>
        </tr>
      </thead>
      <tbody>
        @for (item of datosProductosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.precioProducto }}</td>
          @if (item.cantidadProducto==0) {
            <td>vendido</td>
          }@else {
            <input
            type="number"
            class="form-control mt-2"
            placeholder="Cantidad de Producto a Vender"
            name="cantidadProductoVenta"
            [value]="item.cantidadProducto"
            [min]="1"
            [max]="item.cantidadProducto"
            [(ngModel)]="item.cantidadProducto"
          />
          }
          <td>{{ item.precio }}</td>
          <td>{{ item.descripcion }}</td>
          <td><button class="btn btn-primary">Agregar</button></td>
        </tr>

        }
      </tbody>
    </table>
  </div>
</div>
<!--Para el resumen de valores-->
<div class="container">
  <div class="row">
    <h1>Tabla de Resumen de compras</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre de Articulo</th>
          <th scope="col">Cantidad a Comprar</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        @for (item of comentariosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombreUsuarioRespuesta }}</td>
          <td>{{ item.mensaje }}</td>
          <td>{{ item.fecha }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="container">
  <h1>Comunicacion</h1>

  <div class="row">
    <h1>Tabla de Mensajes</h1>
    <!--tabla con la informacion general-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Usuario</th>
          <th scope="col">mensaje</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @for (item of comentariosPublicacion; track $index) {

        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.nombreUsuarioRespuesta }}</td>
          <td>{{ item.mensaje }}</td>
          <td>{{ item.fecha }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label
        for="nombre"
        class="mt-5 d-flex justify-content-center"
      >
        Ingreso de mensaje
      </label>
      <div class="md-form">
        <textarea type="text"
            id="form7"
            class="md-textarea md-textarea-auto form-control"
             mdbInput
             [value]="textoComentario"
            name="textoComentario"
             [(ngModel)]="textoComentario"
             ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success"
        (click)="registroComentario()"
        >Enviar Comentario</button>
      </div>
    </div>
  </div>
</div>
<!--Para botonoes-->

<hr/>
<div class="row">
  <div class="col-md-6">
    <button  class="btn btn-secondary" >Editar</button>
  </div>
  <div class="col-md-6">
    <button  class="btn btn-warning" (click)="cerrar()">Cerrar</button>
  </div>
</div>

