<p>
  <mat-toolbar color="primary">
    <!--SECCION DE BOTONES DE OPCIONES-->
    <button mat-button (click)="iraInicio()" >Inicio</button>
    <span class="example-spacer"></span>

    <button mat-button (click)="iraCompras()">Compras</button>
    <span class="example-spacer"></span>

    <button mat-button (click)="iraVentas()" >Ventas</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="iraFinanzas()" >Finanzas</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="iraVoluntariadoVista()">Vista de voluntariado</button>
    <span class="example-spacer"></span>

    <button mat-button (click)="iraVoluntariado()">Voluntariado</button>
    <span class="example-spacer"></span>

    <div class="containerMonedas">
      <h1>Cantidad de Monedas: {{this.usuario?this.usuario.cantidad_monedas:''}}</h1>
    </div>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="fileMenu">{{nombreUsuario}}</button>
    <mat-menu #fileMenu="matMenu">
      <button  mat-menu-item (click)="cerrarSesion()" >Cerrar Sesion</button>
    </mat-menu>
  </mat-toolbar>

</p>
