<p>
  <mat-toolbar color="primary">
    <!--SECCION DE BOTONES DE OPCIONES-->
    <button mat-button >Inicio</button>
    <span class="example-spacer"></span>

    <button mat-button >Compras</button>
    <span class="example-spacer"></span>

    <button mat-button >Ventas</button>
    <span class="example-spacer"></span>

    <button mat-button >Voluntariado</button>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="fileMenu">{{nombreUsuario}}</button>
    <mat-menu #fileMenu="matMenu">
      <button  mat-menu-item >Cerrar Sesion</button>
    </mat-menu>
  </mat-toolbar>

</p>
