.example-spacer {
  flex: 1 1 auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-item:hover {
  background-color: #ddd;
}


.containerMonedas {
  border: 1px solid #0cb37b; /* Define el borde del contenedor */
  padding: 10px; /* Agrega espacio alrededor del contenido */
  border-radius: 5px; /* Agrega esquinas redondeadas al borde */
  background-color: #0cb876; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
}
